@media screen and (min-width:1050px){
    
    .sideShark{
        width: 50%;
    }
    .twoEnd{
        flex-direction: column;
    }
    
}
@media screen and (max-width:1041px){
    .moveCloser{
        margin-left: 0px;
      }
      .joinCommunity h1{
          text-align: center;
      }
}
@media screen and (max-width: 815px){
    .lldMain{
        background-image: url(../Assets/BannerAnimation_MOBILE.gif);
    }
    footer{
        justify-content: center;
    }
}